<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>About</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <style>img { 
    max-width:100%;
    max-height:100%;
}</style>
</head>
<body>
    <header class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>


                </button>
                <a class="navbar-brand">Earthquake Research Institute of University of Tokyo</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <nav class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>

                <ul class="nav navbar-nav">
                    <li class="active"><a href="index.html">Maps</a></li>
                    <li class="active"><a href="graphs.html">Graphs</a></li>
                    <li class="active"><a href="about.html">About</a></li>
                </ul>
            </nav><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </header>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Tectonic Tremor</h1>
                <p>Tremor is low frequency deep movement at the fault boundary. At the Earthquake Research Institute of the University of Tokyo, we are designing algorithms to better detect this phenomenom. This can eventually lead to better earthquake prediction. These tools were created for scientists to play with and for the public to gain a better understanding of the different properties of seismic events.</p>
            </div>
            <div class="col-md-6">
                <figure>
                    <img src="http://geophysics.eas.gatech.edu/people/zpeng/Japan_20110311/Japan_03112011_TPUB.jpg" />
                    <figcaption>Triggered tremor found after the 2011 Tohoku Earthquake. Courtesy of Z. Peng, et. al.</figcaption>
                </figure>

            </div>

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>